

    <header id="site-header" class="site-header">
        <div class="row block-container">
        
            <div class="site-header__logo col-md-5">
               <h1 class="site-header__h1"><a href="index.html">The Lucas Family</a></h1>
                <div id="siteLogo">
                    <!-<img class="text-center" src="https://dl.dropboxusercontent.com/u/17615192/Website/craiglovesjasper/gfx/CL-heartphoto.png" width="75" height="73" style="display: none;">
                </div>
               <div class="ourdate text-center">Est. August 10, 2013</div>

            </div>


            <nav id="siteNav" class="site-header__nav col-md-7">               
                <ul class="site-header__nav-ul"> 
                  <li data-name="craig-and-jasper"><a href="#" class="site-header__nav-link">Craig + Jasper</a></li>
                  <li data-name="riley"><a href="riley.html" class="site-header__nav-link">Riley</a></li> 
                  <li data-name="avery"><a href="avery.html" class="site-header__nav-link">Avery</a></li>    
                </ul>
            </nav>            
        
        </div>

    </header>