<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">  
    <meta charset="utf-8">
    <title>Home Page</title>
   
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
       <link rel="stylesheet" href="./dist/styles/home.css" />
      <script src="https://use.edgefonts.net/mr-bedfort;stencil-std;abril-fatface;droid-sans.js"></script>      
  </head>
  <body>


<div class="page-container">
      
    {% include site-header.html %}

    
    <section class="section section--featured block-container">
    
        <div class="row section__row">


                <div class="col-md-6 section__img">
                    <img class="img-responsive section__img-rectangle" src="/src/images/love-521.jpg"  />
                </div>
                <div class="col-md-6 section__content">
                
	                   <p><strong>To our family and friends... </strong></p>
						<p class="lg">This site has been built to showcase our most precious gift from God. <br /> Our two beautiful children, Riley and Avery.</p>
                    
       
                            <p class="xl">Thank you for visiting our site!<br /> <strong>Love Craig, Jasper, Riley, and Avery</strong></p>                    
                            
                              
                               <blockquote class="prayer prayer--short" style="display:none;">
                                    <strong class="block">Psalm 127:3 New Living Translation (NLT)</strong>
               Children are a gift from the Lord;
    they are a reward from him.           
                   
                                    </blockquote>

                </div>                
            </div>
     
    </section>
    
     
    <section class="section block-container section--inline-modules">
    

                <header class="row section__header">
                    <h2 class="section__h2 section__h2-tall">Riley and Avery</h2>
                </header>            
            
   
            
            <div class="row section_row">
                <div class="col-sm-6 col-md-6 section__content">
                    <a class="section__cover-link" href="riley.html"></a>
                    <img class="pull-left section__img-left" style="height: 287px;" src="/src/images/riley-newborn.JPG" />
                    <h3 class="section__h3 babyblue">Riley Sabile Lucas</h3>
                    <ul>
                        <li><Strong>Time of Birth: </Strong>8/22/14 at 1:12am</li>
                        <li><strong>Weight: </strong>8lbs 10oz</li>
                        <li><strong>Height: </strong>19.5 inches</li>
                    </ul>
                    <p>
                        <strong>Likes: </strong>Hanging with Family, Dancing, Paw Patrol, Toy Story, Chucky Cheese, and being silly 
                    </p>
                    <p>                    
                        <strong>DisLikes: </strong>Getting up too early                              
                    </p>
                    <p><a href="#" class="section__text-link section__see-more">See more of Riley</a></p>
                    
                </div>
                <div class="col-sm-3 col-md-6 section__content">
                    <a class="section__cover-link" href="avery.html"></a>
                    <img class="pull-left section__img-left" src="src/images/avery-newborn.JPG" />
                    <h3 class="section__h3 babypink">Avery Sabile Lucas</h3>
                    <ul>
                        <li><Strong>Time of Birth: </Strong>9/13/16 at 5:03pm</li>
                        <li><strong>Weight: </strong>7lbs 15oz</li>
                        <li><strong>Height: </strong>20.25 inches</li>                     
                    </ul>
                    <p>
                        <strong>Likes: </strong>Hanging with Family, Eating, Cuddling and smiling 
                    </p>
                    <p>                    
                        <strong>DisLikes: </strong>Being away from home                                 
                    </p>                    
                    <p><a href="#" class="section__text-link section__see-more">See more of Avery</a></p>
                </div>
            </div>        
    
    </section>
    
    <section class="section section--featured block-container">
    

                
        
        <div class="row section__row">
            <a class="section__cover-link" href="http://www.everydayhealth.com/multiple-sclerosis/symptoms/conditions-commonly-mistaken-multiple-sclerosis/"></a>
                <div class="col-md-6 section__content section__content--thin">
                
                <header class="row section__header section__header--white">
                    <h2 class="section__h2 section__h2--plain">Craig and Jasper</h2>
                </header>                    
                    
	              <blockquote class="prayer">
                                    <strong class="block">1 Corinthians 13 4:7</strong>
4 Love is patient, love is kind. It does not envy, it does not boast, it is not proud. <br />5 It does not dishonor others, it is not self-seeking, it is not easily angered, it keeps no record of wrongs. <br> 6 Love does not delight in evil but rejoices with the truth. <br>7 It always protects, always trusts, always hopes, always perseveres. 
                   
                                    </blockquote>
                    
                     <p><a href="#" class="section__text-link section__see-more">
                         See more of Craig and Jasper</a></p>
                        
                            

                </div> 
                <div class="col-md-6 section__img">
                    <img class="img-responsive section__img-rectangle" src="/src/images/craig+jasper.jpg"  />
                </div>   
                
            </div>
     
    </section>    
    
    


      
</div>      
      
     <section class="section section--last">
  <p class="text-center"> © 2017 <a rel="author" href="https://plus.google.com/117558424639811702977" title="Our Google+ Profile">Craig Lucas and Jasper Lucas</a>.  All Rights Reserved.</p>
    
    </section>
  
     
      
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>      
<script src="bootstrap.js"></script>      
      
      <script>
 var height = $('.hero-slider__img1').height();
      $('.hero-slider').height(height);
           
      
      </script>
      

  </body>
</html>